.appoint-banner{
    font-family: 'Saira';
}
.btn-custom-outline-info{
    border: 1px solid #01d6a3;
    color: #01d6a3;
}

.btn-custom-outline-info:hover{
    background-color: #01d6a3;
    color: white;
}