.banner{
    font-family: 'Saira';
}
.banner-title{
    color: #033b4a;
    font-size: 5rem;
}
.btn-custom{
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: none;
    font-size: 1rem;
    font-weight: 500;
    padding:10px 15px
}
.btn-custom-white{
    border:1px solid white;
    color: white;
}
.btn-custom-white:hover{
    background-color: white;
    color: #01d6a3; 
}
.btn-custom-dark{
    background-color: #033b4a;
    color: white;
}
.btn-custom-dark:hover{
    background-color: #01d6a3; 
}
.btn-custom-outline-dark{
    border: 1px solid #033b4a;
    color: #033b4a;
}
.btn-custom-outline-dark:hover{
    background-color: #033b4a;
    color: white;
}
.btn-custom-info{
    color: white;
    background-color: #01d6a3;  
}
.btn-custom-info:hover{
    background-color: #033b4a;
}
.btn-custom-outline-info{
    border: 1px solid #01d6a3;
    color: #01d6a3;
}

.btn-custom-outline-info:hover{
    background-color: #01d6a3;
    color: white;
}
@media screen and (max-width:792px) {
    .banner-title{
        color: #033b4a;
        font-size: 2rem;
    }
    .btn-banner{
        margin-left: none;
        margin-top: 20px;
        display: block;
    }
}